mixin video(info)
    div 
        h4
            a(href=`/videos/${info.id}`)=info.title
            p=info.description 
            ul
                each item in info.hashtags 
                    li=item
            small=info.createdAt 
            hr