.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .video__createdAt {
    font-size: 12px;
  }
  .video__owner {
    margin-bottom: 5px;
    font-size: 14px;
    a {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
}
.video__comments {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    max-width: 320px;
    width: 100%;
    padding: 10px;
    border-radius: 9999px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
  }
  .delete__icon{
    float: right;
    cursor: pointer;
  }
}
.video__add-comments{
  .video__comment-form{
    display: flex;
    align-items: center;
    gap: 5px;
    textarea{
      border-radius: 2px;
    }
    button{
      all: unset;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 2px;
      padding: 10px;
      height: 10px;
      background-color: white;
      color: black;
    }
  }
}