extends base
include mixins/video

block content

    main
        nav 
            ul
                li 
                    a(href="/videos/upload") Upload Video
        h1 Home!
        input(type="text" placeholder="What is your name!")
        ul
            each item in videos     
                +video(item)
            else 
                li 값이 없어요!