extends base
include mixins/video

block content 
    form(method="GET")
        input(placeholder="Search by title", type="text", name="keyword")
        input(type="submit", value="Seacrh now")

    div 
        each item in videos
            +video(item)